.header__title {
    color: green;
    display: flex;
    justify-content: center;
}

.pantry__header {
    background-color: rgba(213, 188, 188, 0.479);
    max-width: 300px;
    border: 1px solid black;
}

.landing {
    margin-left: 30px;
    height: 80vh;
}

.grocery__categorg {
    width: 100%;
    max-width: 120px;
    height: 100px;
    background-color: rgba(188, 186, 185, 0.386);
}

.grocery__type {
    padding: 4px;
}